[defaults]
inventory = ./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/inventory
collections_path = ./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/mycollections
roles_path = ./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/roles


