[defaults]
inventory=./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/inventory
remote_user=ansible
host_key_checking=False
roles_path=./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/roles
collections_path=./home/kk/Desktop/Ansible/AU-294/AU294-17th-Jun26/EXAM/ansible_playbook/mycollections
