global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend web_front
    bind *:80
    default_backend web_backend

backend web_backend
    balance roundrobin
    server serverb 192.168.122.20:80 check
    server serverc 192.168.122.30:80 check
